.button {
  color: white;
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: #92ed5d;
  &:hover {
    background-color: rgb(245, 9, 206);
  }
}
.username {
  font-size: 20px;
  font-weight: 600;
  color: antiquewhite;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
